<html>
<body>
<h1><center>ADMIN SIDE FOR SEARCHING ALUMNI</h1>
<center><p><h3>BATCH     :</h3>   <select name="cars" width="200px">
    <option value="" width="200px">1990</option>
    <option value=""width="200px">1991</option>
    <option value=""width="200px">1992</option>
    <option value=""width="200px">1993</option>
    <option value=""width="200px">1994</option>
    <option value=""width="200px">1995</option>
    <option value=""width="200px">1996</option>
    <option value=""width="200px">1997</option>
    <option value=""width="200px">1998</option>
    <option value=""width="200px">1999</option>
    <option value=""width="200px">2000</option>
    <option value=""width="200px">2001</option>
    <option value=""width="200px">2002</option>
  </select></p>
  
<p><h3>COLLEGE   :   </h3>  <select name="cars" width="200px">
    <option value="" width="200px">psg</option>
    <option value=""width="200px">sri krishna college of technology</option>
    <option value=""width="200px">skcet</option>
    <option value=""width="200px">kct</option>
    <option value=""width="200px">gct</option>
    <option value=""width="200px">psgitech</option>
    <option value=""width="200px">kec</option>
    <option value=""width="200px">cit</option>
  </select></p>
<p><h3>DEPARTMENT:</h3><select name="cars" width="200px">
    <option value="" width="200px">IT</option>
    <option value=""width="200px">CSE</option>
    <option value=""width="200px">MECH</option>
    <option value=""width="200px">CIVIL</option>
    <option value=""width="200px">ICE</option>
    <option value=""width="200px">ECE</option>
    <option value=""width="200px">EEE</option>
  </select></p>
<input type="button" value="submit"/>
</center>
</body>
</html
